---
import { paths } from "@/settings"
import Link from '@/components/frame/link.astro';


const { hasSidebar, labels } = Astro.props;
---

<div class="flex min-h-screen overflow-hidden">
	<aside class="inline-block border-r py-8 bg-white dark:bg-zinc-900 dark:border-zinc-800">
        <figure class="mb-4">
            <img fetchpriority="high" class="block mx-auto dark:invert" src="/assets/bg-logo.svg" alt="Logo" width="50" height="50">
        </figure>
        <nav class="*:block *:p-5 text-center *:no-underline">
			{paths.map(({ Icon, href, title }) => {
				return (<Link href={href}><Icon slot="icon" /> {title}</Link>)
			})}
        </nav>
    </aside>

	{
		hasSidebar && (
			<nav class="p-4 px-6 w-80 lg:inline-block border-r pt-14 dark:bg-zinc-900 dark:border-zinc-800" aria-label={labels['sidebarNav.accessibleLabel']}>
				<slot name="sidebar" />
			</nav>
		)
	}

	<div class="inline-block flex-1 overflow-y-auto relative">
        <slot />
    </div>
</div>

<style is:inline>
	mobile-starlight-toc > nav {
		top: 0;
		border-top: 0;
		inset-inline-start: 104.5px;
		margin-bottom: 10px;
	}

	.mobile-preferences {
		border: none;
	}
</style>